<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
    <title>Weather Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="WeatherController">
    <h1>Weather Dashboard</h1>
    <input type="text" ng-model="city" placeholder="Enter city name">
    <button ng-click="fetchWeather()">Get Weather</button>
    <button ng-click="addToFavorites()">Add to Favorites</button>

    <div ng-if="weatherData.temperature">
        <h2>Weather in {{ city }}</h2>
        <p>Temperature: {{ weatherData.temperature }} °C</p>
        <p>Humidity: {{ weatherData.humidity }}%</p>
        <p>Condition: {{ weatherData.condition }}</p>
    </div>

    <div ng-if="errorMessage">
        <p style="color: red;">{{ errorMessage }}</p>
    </div>

    <h3>Favorite Cities</h3>
    <ul>
        <li ng-repeat="city in favoriteCities | alphabetical">{{ city }}</li>
    </ul>
</body>
</html>
